<p id="notice"><%= notice %></p>

<h1>Listing Processareas</h1>

<table>
  <thead>
    <tr>
      <th>N level</th>
      <th>T name</th>
      <th>T description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processareas.each do |processarea| %>
      <tr>
        <td><%= processarea.n_level %></td>
        <td><%= processarea.t_name %></td>
        <td><%= processarea.t_description %></td>
        <td><%= link_to 'Show', processarea %></td>
        <td><%= link_to 'Edit', edit_processarea_path(processarea) %></td>
        <td><%= link_to 'Destroy', processarea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Processarea', new_processarea_path %>
