<%= form_for(@practice) do |f| %>
  <% if @practice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practice.errors.count, "error") %> prohibited this practice from being saved:</h2>

      <ul>
      <% @practice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br>Nombre</br>
    <%= f.text_field :t_name %>
  </div>
  <div class="field">
    <br>Descripcion</br>
    <%= f.text_field :t_description %>
  </div>
  <div class="field">
    Meta</br>
    <%= f.number_field :n_goal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
